
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* navigation bar */


.navbar{
    position: sticky;
    height: 80px;
    width: 100%;
    background : transparent;
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 100;
    border-bottom: 0.01px rgba(103, 3, 196, 0.548) solid;
}
body{
    background: linear-gradient(#030008,#0c051a,#14082e);
    min-height: 100vh;
}

a{
    text-decoration: none   ;
}
.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;


    .logo{
        font-family: "merriweather" , serif;
        font-size: 200%;
        color: white;
        text-transform: capitalize;
        font-weight: 800;

        .-dev{
            background: linear-gradient(#82209d,#7a17ba,#3800d1,#2626fd);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text ;
        }
    }
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh   ;
}
.txt-pro{
    font-family: "merriweather" , serif;
    color: #c084fc;
    text-transform: capitalize;
    font-size: 2vh;
}
